.span-25 {
  color:white; font-size:2.5em;
  padding: 10px 7px; color: #fff; font-weight: bold; text-shadow: 0 1px 0 #777; margin-bottom: 13px; border-bottom: solid 1px #666; 
}
.span-26 {
  color:white; font-size:2.5em;
  margin-left:5em;
  padding: 10px 7px; color: #fff; font-weight: bold; text-shadow: 0 1px 0 #777; margin-bottom: 13px; border-bottom: solid 1px #666; 
}
.span-27 {
  color:white; font-size:1.2em;
  font-weight:bolder;
}

/***********************************
****Login
***********************************/
.formbox
{
    /*background-color: #eee;*/
    background-color: #204d89;
    border: solid 1px navy;
    padding: 25px 35px 25px 35px;
    float-right;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #444;
}

.formbox input { width: 275px; }

.content 
{ 
	display: inline-block; 
	text-align: left; 
}
.medium { width: 300px; }
.rounded { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.shadowed { box-shadow: 2px 2px 4px #ccc; -moz-box-shadow: 2px 2px 4px #ccc; -webkit-box-shadow: 2px 2px 4px #ccc; }

.button
{
	display: inline-block;
	padding: 0px 18px;
	height: 31px;
	line-height: 31px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border: solid 1px #326D24;
	background: url(images/button.png) repeat-x; 
	text-shadow: 0 1px 0 #26531C;
}

.button:hover, .button:focus
{
	background: url(images/button-hover.png) repeat-x;
	color: #fff;
	text-decoration: none;
}

.button-text
{
	font-size: .9em;
	color: #3A3D3E;
}
